/* RESET */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

/* BODY */
body{
  background:linear-gradient(135deg,#4f46e5,#9333ea);
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
}

/* APP */
.app{
  width:100%;
  max-width:420px;
  background:#fff;
  padding:20px;
  border-radius:12px;
  box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

/* TITLE */
h2{
  text-align:center;
  margin-bottom:15px;
}

/* INPUT */
.input-box{
  display:flex;
  gap:10px;
  margin-bottom:10px;
}

.input-box input{
  flex:1;
  min-width:0;
  padding:10px;
  border-radius:6px;
  border:1px solid #ccc;
}

.input-box button{
  padding:10px 15px;
  background:#2563eb;
  color:#fff;
  border:none;
  border-radius:6px;
  cursor:pointer;
}

/* FILTER */
.filtered-buttons{
  display:flex;
  gap:10px;
  margin-bottom:10px;
}

.filtered-buttons button{
  flex:1;
  padding:8px;
  border:none;
  border-radius:6px;
  background:#e5e7eb;
  cursor:pointer;
  color: #000;
}

.active-btn{
  color:#fff;
  font-weight: 600;
  transform: scale(1.05);
}
.all-btn.active-btn{
    background: #2563eb;
}
.completed-btn.active-btn{
    background: #16a34a;
}
.pending-btn.active-btn{
    background: #f59e0b;
}


/* CLEAR */
.clr-btn{
  width:100%;
  padding:10px;
  background:#dc2626;
  color:#fff;
  border:none;
  border-radius:6px;
  margin-bottom:10px;
  cursor:pointer;
}
button:hover{
    opacity: 0.9;
    transition: 0.2s;
}

/* LIST */
ul{
  list-style:none;
  max-height:300px;
  overflow-y:auto;
}

/* ITEM */
li{
  display:flex;
  align-items:flex-start;
  gap:10px;

  padding:10px;
  margin-bottom:8px;
  background:#f3f4f6;
  border-radius:8px;
}

/* LEFT */
.task-left{
  display:flex;
  gap:10px;

  flex:1;
  min-width:0;
}

/* 🔥 TEXT FINAL FIX */
.task-left span{
  display:block;
  max-width:100%;

  white-space:normal;

  /* 🔥 key combo */
  overflow-wrap:anywhere;
  word-break:normal;
}

/* COMPLETED */
.completed{
  text-decoration:line-through;
  color:#9ca3af;
}

/* RIGHT */
.task-right{
  display:flex;
  gap:6px;
  flex-shrink:0;
}

/* BUTTONS */
.edit-btn{
  background:#16a34a;
  color:#fff;
  border:none;
  padding:6px 10px;
  border-radius:6px;
  cursor:pointer;
}

.dlt-btn{
  background:#dc2626;
  color:#fff;
  border:none;
  padding:6px 10px;
  border-radius:6px;
  cursor:pointer;
}

/* HOVER */
button:hover{
  opacity:0.85;
}

/* SCROLL */
ul::-webkit-scrollbar{
  width:5px;
}
ul::-webkit-scrollbar-thumb{
  background:#aaa;
  border-radius:10px;
}

/* 📱 MOBILE */
@media(max-width:600px){

  .input-box{
    flex-direction:column;
  }

  .filtered-buttons{
    flex-direction:column;
  }

}

/* 📱 TABLET */
@media(min-width:601px) and (max-width:900px){
  .app{
    width:80%;
  }
}

/* 💻 DESKTOP */
@media(min-width:901px){
  .app{
    max-width:420px;
  }
}